:root {
  --orange: #ff6c00;
  --white: #ffffff;
  --light-lack: #9da4bd;
  --black: #303030;
  --primary-font: 'Open sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
/*stilizare pentru header*/
.header {
  background-color: #303030;
}
.header__logo {
  background-color: var(--white);
}
.header__navigation ul {
  list-style: none;
}
.header__navigation a {
  text-decoration: none;
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--white);
}
.header__navigation a:hover {
  color: var(--orange);
}
.header__info a {
  text-decoration: none;
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  color: var(--white);
}
.button {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  background-color: transparent;
  color: var(--white);
  text-transform: uppercase;
  padding: 12px 24px;
  border: 1px solid var(--orange);
  border-radius: 25px;
  cursor: pointer;
}
.button:hover {
  color: var(--white);
  background-color: var(--orange);
}
/*stilizare pentru hero section*/
.hero-section {
  background-color: #303030;
}
.hero-section__subtitle {
  font-size: 11px;
  font-family: var(--primary-font);
  font-weight: 600;
  line-height: 14px;
  color: var(--light-lack);
}
.hero-section__title {
  font-family: var(--secondary-font);
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  color: var(--white);
}
.hero-section__text {
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 30px;
  color: var(--light-lack);
}
/*stilizare pentru about section*/
.about {
}
.about__subtitle {
  font-size: 11px;
  font-family: var(--primary-font);
  font-weight: 600;
  line-height: 14px;
  color: var(--black);
}
.about__title {
  font-size: 42px;
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 50px;
  color: var(--black);
}
.about__text {
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 30px;
  color: var(--black);
}
.about__button {
  color: var(--black);
}
/*stilizare pentru prices*/
/*stilizare pentru reviews*/
